<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    style
      include ../static/style.css
    <title>#{title}</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/">About</a></li>
            <li><a href="/">Contact Us</a></li>
        </ul>
    </nav>
    <div class="container">
    <h2>#{heading}</h2>
    <p>
        | #{content} <!-- Pipe character used-->
    </p>
    
    <form action="/" method="POST" id="contact">
            <input type="text" name="name" id="name" placeholder="Enter your name">
            <input type="number" name="section" id="section" min = "1" max = "20" placeholder="Enter your section">
            <input type="text" name="dept" id="dept" placeholder="Enter your department code">
            <textarea name="msg" id="more" cols="30" rows="10" placeholder="Your message.."></textarea>
            <button class="btn">Submit</button>
    </form>
    </div>
</body>
</html>
